# Configuración del Puerto del Servidor
SERVER_PORT=8080

# Conexión a Base de Datos PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/in_scope_db?options=-c%20timezone=America/Lima
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=root

# Configuración del Servicio de Correo SMTP (Gmail)
SPRING_MAIL_USERNAME=jheann.elec@gmail.com
SPRING_MAIL_PASSWORD=ufuisgqplvayeigk

# Configuración de CORS (Orígenes permitidos del cliente frontend)
IN_SCOPE_CORS_ALLOWED_ORIGINS=http://localhost:3000

# Configuración de Seguridad y Tokens JWT
IN_SCOPE_JWT_SECRET=7efa787848fb8c0f4435e20c2a63306b02c89f56dec3a942adda0a9b572f73bd
IN_SCOPE_JWT_EXPIRATION_MS=86400000
IN_SCOPE_JWT_REFRESH_EXPIRATION_MS=604800000
